.width {
    background-color: gray;
    color: white;
    font-family: 'Noto Sans JP', sans-serifS;
}


.picture {
    text-align: center;
    margin: 20px 0;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-left: 30px;
    transform: translate(-100px, 0);
    list-style: none;
}